<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<appSettings>
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="PYTHONPATH" value="D:\MyDemo\myproject" />
        <add key="DJANGO_SETTINGS_MODULE" value="myproject.settings" />
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="testdjangoiis" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\MyDemo\venv\Scripts\python.exe|D:\MyDemo\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
